/**
 * Styles for the top-level it.tamus.edu site.
 * It has a different header from the sub-sites for some reason...
 */


.site-header {
  // no need to show this on mobile
  .header-design-element {
    display: none;
  }
}

/*****************************************************************************
 * Start of SCSS for desktop - 992px is the Bootstrap breakpoint for Desktop
 *****************************************************************************/

@media only screen and (min-width: 992px) {

  .site-header {
    .wrap .tamus-wrap-title-and-logo {
      // Move the logo to the left on the top-level site on desktop
      flex-direction: row-reverse;

      #tamus-oit-logo {
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        top: 32px;
      }
    }

    // Show the fancy colored line circuit thing
    .header-design-element {
      position: absolute;
      display: block;
      top: 39px;
    }
  }
}
