<div class="banner-cover"
  {% if page.banner-bg %}
  style="background-image: url({{ page.banner-bg }});
  {% endif %}
  ">
  {% if page.banner-icon %}
  <img alt="{{ page.banner-icon-alt }}" class="banner-icon" height="130" width="130"
       src="{{ page.banner-icon }}">
  {% endif %}
  <div class="banner-content">
    <h1>
      {% if page.first-heading %}
        {{ page.first-heading }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
    <p>{{ page.banner-content }}</p>
  </div>
</div>
