<nav id="breadcrumb"
     class="breadcrumbs bootstrap ml-3 ml-sm-0 text-white fade-in-on-visible delay-400 vivify fadeIn" {% if (page.url == '/') and (site.breadcrumbs.root.hide) %}{{ 'style="display: none;"' }}{% endif %}
     aria-label="breadcrumb">
  <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">
    {% assign position = 0 %}
    {% for crumbitem in breadcrumbs %}
      {% assign position = position  | plus: 1 %}

      {% if forloop.first and site.breadcrumbs.root.image %}
        {% include icon.html class="breadcrumb-item" color=include.color %}
        {% continue %}
      {% endif %}

      {% if forloop.last %}
        <li class="breadcrumb-item" property="itemListElement" typeof="ListItem" aria-current="page"><span property="name">{{ crumbitem.crumb }}</span><meta property="position" content="{{ position }}" /></li>
        {% continue %}
      {% endif %}

      <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
          <a property="item" typeof="WebPage" href="{{ crumbitem.url | prepend: site.baseurl }}"><span property="name">{{ crumbitem.crumb }}</span><meta property="position" content="{{ position }}" /></a>
      </li>
    {% endfor %}
  </ol>
</nav>
