<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="Created" property="dc:created" content="2020-10-07" />
  <meta name="Last-Modified" property="dc:modified" content="2022-10-27" />
  <title>Collaboration</title>

  <link rel="dns-prefetch" href="//fonts.googleapis.com" />

  <link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" media="all"
    href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400i%2C600%2C700%2C800&#038;display=swap&#038;ver=2.2.0" />

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery-migrate.min.js"></script>

  <!-- Google Analytics -->
  <script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', 'UA-142977406-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>

  <link rel="icon" href="/favicon.ico" />
</head>

<body class="page-template full-width-content" itemscope itemtype="https://schema.org/WebPage">
  <div class="site-container">
    <header class="site-header" itemscope="" itemtype="https://schema.org/WPHeader">
      <div class="wrap">
        <div class="tamus-wrap-title-and-logo">
          <div class="title-area">
            <ul class="genesis-skip-link">
              <li><a href="#genesis-nav-primary" class="screen-reader-shortcut"> Skip to primary navigation</a></li>
              <li><a href="#genesis-content" class="screen-reader-shortcut"> Skip to main content</a></li>
            </ul>
            <div class="site-title" itemprop="headline"><a href="http://ittamusedu.local/famis/">Site Title Goes Here</a>
            </div>
          </div>
          <div class="widget-area header-widget-area"> <a href="https://it.tamus.edu/" id="tamus-oit-logo">
              <img
                src="/assets/images/tamus-oit-logo.svg"
                alt="Logo, Texas A&amp;M University System, Office of Information Technology">
            </a>
            <ul id="oit-site-sub-menu" style="display: flex;">
              <li class="menu-item"><a href="https://it.tamus.edu/services/">Services</a></li>
              <li class="menu-item"><a href="https://it.tamus.edu/contacts/">Contact <span class="sr-only">the Office of
                    Information Technology</span></a></li>
              <li class="menu-item"><a href="https://it.tamus.edu/search/">Search OIT</a></li>
            </ul>
          </div>
        </div>
        <button class="menu-toggle dashicons-before dashicons-menu" aria-expanded="false" aria-pressed="false"
          id="genesis-mobile-nav-primary">Menu</button>
        <nav class="nav-primary genesis-responsive-menu" aria-label="Main Site Navigation" itemscope=""
          itemtype="https://schema.org/SiteNavigationElement" id="genesis-nav-primary">
          <div class="wrap">
            <ul id="menu-header-global-navigation"
              class="menu genesis-nav-menu menu-primary js-superfish sf-js-enabled sf-arrows"
              style="touch-action: pan-y;">
              <li id="menu-item-1005"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1005">
                <a href="http://ittamusedu.local/famis/about/" itemprop="url" class="sf-with-ul"><span
                    itemprop="name">About</span></a>
                <button class="sub-menu-toggle dashicons-before dashicons-arrow-down-alt2" aria-expanded="false"
                  aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
                <ul class="sub-menu" style="display: none;">
                  <li id="menu-item-1145"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1145"><a
                      href="http://ittamusedu.local/famis/about/famis-and-canopy-applications/" itemprop="url"><span
                        itemprop="name">FAMIS and Canopy Applications</span></a></li>
                  <li id="menu-item-1053"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1053"><a
                      href="http://ittamusedu.local/famis/about/famis-data-in-business-objects/" itemprop="url"><span
                        itemprop="name">FAMIS Data in BusinessObjects</span></a></li>
                  <li id="menu-item-1054"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1054"><a
                      href="http://ittamusedu.local/famis/about/famis-governance/" itemprop="url"><span
                        itemprop="name">FAMIS Governance</span></a></li>
                  <li id="menu-item-1040"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1040"><a
                      href="http://ittamusedu.local/famis/about/famis-team/" itemprop="url"><span itemprop="name">FAMIS
                        Services Team</span></a></li>
                  <li id="menu-item-1765"
                    class="menu-item menu-item-type-post_type menu-item-object-news menu-item-1765"><a
                      href="http://ittamusedu.local/famis/news/financial-systems-modernization-project-website/"
                      itemprop="url"><span itemprop="name">Financial Systems Modernization Project</span></a></li>
                </ul>
              </li>
              <li id="menu-item-168"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-168"><a
                  href="http://ittamusedu.local/famis/contacts/" itemprop="url" class="sf-with-ul"><span
                    itemprop="name">Contacts</span></a>
                <button class="sub-menu-toggle dashicons-before dashicons-arrow-down-alt2" aria-expanded="false"
                  aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
                <ul class="sub-menu" style="display: none;">
                  <li id="menu-item-1146"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1146"><a
                      href="http://ittamusedu.local/famis/contacts/contact-famis-services/" itemprop="url"><span
                        itemprop="name">Contact FAMIS Services</span></a></li>
                  <li id="menu-item-1147"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1147"><a
                      href="http://ittamusedu.local/famis/contacts/contact-production-services/" itemprop="url"><span
                        itemprop="name">Contact FAMIS Production Services</span></a></li>
                  <li id="menu-item-1139"
                    class="highlight menu-item menu-item-type-post_type menu-item-object-page menu-item-1139"><a
                      href="http://ittamusedu.local/famis/contacts/famis-security-admins/" itemprop="url"><span
                        itemprop="name">FAMIS Security Administrators List</span></a></li>
                  <li id="menu-item-1149"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1149"><a
                      href="http://ittamusedu.local/famis/contacts/concur-team/" itemprop="url"><span
                        itemprop="name">Concur Operational Team Contact List</span></a></li>
                  <li id="menu-item-1138"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1138"><a
                      href="http://ittamusedu.local/famis/contacts/concur-security-admins/" itemprop="url"><span
                        itemprop="name">Concur Security Administrator Contact List</span></a></li>
                  <li id="menu-item-1118"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1118"><a
                      href="http://ittamusedu.local/famis/contacts/ce-requestors/" itemprop="url"><span
                        itemprop="name">FAMIS Change Enhancement Approvers / Requestors List</span></a></li>
                  <li id="menu-item-1361"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1361"><a
                      href="http://ittamusedu.local/famis/contacts/famis-interface-coordinators/" itemprop="url"><span
                        itemprop="name">FAMIS Interface Coordinators</span></a></li>
                  <li id="menu-item-1119"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1119"><a
                      href="http://ittamusedu.local/famis/contacts/report-requestors/" itemprop="url"><span
                        itemprop="name">FAMIS Report Requestors List</span></a></li>
                </ul>
              </li>
              <li id="menu-item-169"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-169"><a
                  href="http://ittamusedu.local/famis/docs/" itemprop="url" class="sf-with-ul"><span
                    itemprop="name">Documentation</span></a>
                <button class="sub-menu-toggle dashicons-before dashicons-arrow-down-alt2" aria-expanded="false"
                  aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
                <ul class="sub-menu" style="display: none;">
                  <li id="menu-item-1155"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1155"><a
                      href="http://ittamusedu.local/famis/docs/tutorials/" itemprop="url"><span
                        itemprop="name">Tutorials</span></a></li>
                  <li id="menu-item-1334"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1334"><a
                      href="http://ittamusedu.local/famis/docs/core-concepts/" itemprop="url"><span itemprop="name">Core
                        Concepts</span></a></li>
                  <li id="menu-item-1333"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1333"><a
                      href="http://ittamusedu.local/famis/docs/white-papers/" itemprop="url"><span itemprop="name">White
                        Papers</span></a></li>
                  <li id="menu-item-1280"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1280"><a
                      href="http://ittamusedu.local/famis/docs/reference/manuals/" itemprop="url"><span
                        itemprop="name">User Manuals</span></a></li>
                  <li id="menu-item-2517"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2517"><a
                      href="http://ittamusedu.local/famis/docs/reference/" itemprop="url"><span itemprop="name">Tools:
                        Glossary, Codes, Crosswalks &amp; Screen Info</span></a></li>
                </ul>
              </li>
              <li id="menu-item-1055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1055"><a
                  title="How to access FAMIS reports in Laserfiche."
                  href="http://ittamusedu.local/famis/tutorials/famis-reports-in-laserfiche/" itemprop="url"><span
                    itemprop="name">Laserfiche</span></a></li>
              <li id="menu-item-1112"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1112">
                <a href="http://ittamusedu.local/famis/updates/" itemprop="url" class="sf-with-ul"><span
                    itemprop="name">News &amp; Updates</span></a>
                <button class="sub-menu-toggle dashicons-before dashicons-arrow-down-alt2" aria-expanded="false"
                  aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
                <ul class="sub-menu" style="display: none;">
                  <li id="menu-item-1127"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1127"><a
                      href="/famis/calendar/" itemprop="url"><span itemprop="name">Calendar</span></a></li>
                  <li id="menu-item-1110"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1110"><a
                      href="http://ittamusedu.local/famis/updates/alerts/" itemprop="url"><span itemprop="name">Alerts,
                        Maintenance and Outage Notices</span></a></li>
                  <li id="menu-item-1111"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1111"><a
                      href="http://ittamusedu.local/famis/updates/release-notes/" itemprop="url"><span
                        itemprop="name">Release Notes for FAMIS Updates</span></a></li>
                  <li id="menu-item-1756"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1756"><a
                      title="Learn more about the future of FAMIS." href="https://it.tamus.edu/modernization/"
                      itemprop="url"><span itemprop="name">Financial Systems Modernization Project</span></a></li>
                </ul>
              </li>
              <li id="menu-item-1279"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1279">
                <a href="http://ittamusedu.local/famis/services/" itemprop="url" class="sf-with-ul"><span
                    itemprop="name">Services &amp; Requests</span></a>
                <button class="sub-menu-toggle dashicons-before dashicons-arrow-down-alt2" aria-expanded="false"
                  aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
                <ul class="sub-menu" style="display: none;">
                  <li id="menu-item-1826"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1826"><a
                      href="http://ittamusedu.local/famis/services/famis-help/" itemprop="url"><span
                        itemprop="name">FAMIS Help</span></a></li>
                  <li id="menu-item-1151"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1151"><a
                      href="http://ittamusedu.local/famis/services/change-enhancement-request/" itemprop="url"><span
                        itemprop="name">Change / Enhancement Request</span></a></li>
                  <li id="menu-item-1113"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1113"><a
                      href="http://ittamusedu.local/famis/services/famis-training/" itemprop="url"><span
                        itemprop="name">FAMIS Training</span></a></li>
                  <li id="menu-item-1150"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1150"><a
                      href="http://ittamusedu.local/famis/services/request-forms/" itemprop="url"><span
                        itemprop="name">Request Forms</span></a></li>
                  <li id="menu-item-1108"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1108"><a
                      href="http://ittamusedu.local/famis/services/interface-file-feeds/" itemprop="url"><span
                        itemprop="name">Interface – File Feeds</span></a></li>
                  <li id="menu-item-1107"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1107"><a
                      href="http://ittamusedu.local/famis/services/production/" itemprop="url"><span
                        itemprop="name">Production Contacts, Reports &amp; Schedule</span></a></li>
                  <li id="menu-item-1109"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1109">
                    <a href="http://ittamusedu.local/famis/services/security/" itemprop="url" class="sf-with-ul"><span
                        itemprop="name">Security Contacts &amp; Forms</span></a>
                    <button class="sub-menu-toggle dashicons-before dashicons-arrow-down-alt2" aria-expanded="false"
                      aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
                    <ul class="sub-menu" style="">
                      <li id="menu-item-1153"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1153"><a
                          href="http://ittamusedu.local/famis/services/security/security-access-request/"
                          itemprop="url"><span itemprop="name">Security Access Request</span></a></li>
                      <li id="menu-item-1154"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1154"><a
                          href="http://ittamusedu.local/famis/services/security/security-audit/" itemprop="url"><span
                            itemprop="name">Security Audit Reports</span></a></li>
                    </ul>
                  </li>
                  <li id="menu-item-1152"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1152"><a
                      href="http://ittamusedu.local/famis/services/year-end-jobs/" itemprop="url"><span
                        itemprop="name">Year-End Jobs</span></a></li>
                  <li id="menu-item-2446"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2446"><a
                      href="https://apps3.system.tamus.edu/famisrequest/YERequest.aspx" itemprop="url"><span
                        itemprop="name">Year-End Job Request Form</span></a></li>
                </ul>
              </li>
              <li class="menu-item search-form-wrapper">
                <form method="get" name="search" class="search-form" role="search"
                  action="https://it.tamus.edu/">
                  <label class="search-form-label screen-reader-text" for="header-search-input">Search</label>
                  <input type="text" value="" class="search-field" name="s" id="header-search-input"
                    placeholder="Search" itemprop="query-input">
                  <label for="header-search-button">Search</label>
                  <input type="submit" class="search-button" id="header-search-button" value="Submit search">
                  <meta content="https://it.tamus.edu/?s={s}" itemprop="target">
                </form>
              </li>
              <li id="oit-site-menu" class="d-lg-none">
                <a id="oit-link" href="https://it.tamus.edu/" itemprop="url" class="sf-with-ul">
                  <span itemprop="name">Office of Information Technology</span>
                </a>
                <button id="oit-sub-menu-toggle" class="dashicons-before dashicons-arrow-down-alt2"
                  aria-expanded="false" aria-pressed="false">
                  <span class="screen-reader-text">Submenu</span>
                </button>

              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>