/**
 * Page Builder styling
 *
 * @since 2.1.0
 */
/**
 * TAMUS custom variables
 *
 * @since 2.0.0
 */
/**
 * Override Bootstrap defaults.
 * We could edit bootstrap/_variables.scss but doing so makes it harder to upgrade bootstrap
 */
/**
 * Update body background color
 *
 * Choosing a neutral color for the body background would make the site feel more clean and professional
 * and feel like the light blue does not pair well with the maroon in the footer.
 * I feel like the light blue is pretty prominent for a color that isn't used elsewhere in the System Marcomm's palate.
 * Aggie Maroon is strong color with a very dark shade. It's difficult to pair with other colors. Typically, in corporate
 * design, a strong color is paired with a very light neutral like white or a very light gray.
 * Using a triad on the color wheel, Aggie Maroon works with the blue and green in the header, especially since they are
 * a similar saturation. Especially since the maroon never borders the other strong colors. I think the light blue of the
 * background was intended to act as a neutral. While it is a light tint of blue, it's still competing for attention with
 * the maroon - especially on higher end displays that have more color depth and saturation.
 *
 * Original var and color: $siteback: #92BDE9;
 * Testing different background colors:
 * Slightly more blue #f0f4f7;
 * Cool white #f5f7f9
 */
/**
 * Chart of rem equivalents.
 * The base font size is 16px in this theme.
 *
 * 10px	= 0.625rem
 * 12px	= 0.75rem
 * 14px	= 0.875rem
 * 16px	= 1rem
 * 18px	= 1.125rem
 * 20px	= 1.25rem
 * 24px	= 1.5rem
 * 26px	= 1.625rem
 * 28px	= 1.75rem
 * 32px	= 2rem
 * 36px	= 2.25rem
 * 40px	= 2.5rem
 * 44px	= 2.75rem
 * 48px	= 3rem
 * 50px	= 3.125rem
 * 56px	= 3.5rem
 * 64px	= 4rem
 */
:root {
  font-size: 1rem;
}

/**
 * TAMUS SCSS mixins
 *
 * @since 2.0.0
 */
/**
 * Call to action buttons (CTA)
 * Changing button color to make it more identifiable as a call to action link
 * Previous color was gray which can indicate a button is disabled.
 *
 * For consistent use of the button, we've defined two default buttons.
 * Maroon with white text
 * White with maroon text and a maroon border
 */
/**
 * Maroon with white text
 * To use: @extend %maroon-cta-button;
 */
/**
 * White with maroon text and a maroon border
 * To use: @extend %white-cta-button;
 */
/**
 * Pagination link hover, focus, active.
 */
/**
 * Pagination link for the current page.
 */
/**
 * Pagination links on archive pages, calendar, etc.
 */
/**
 * Deprecated
 * Use Bootstrap visibility classes instead.
 * https://getbootstrap.com/docs/4.1/utilities/screenreaders/
 * https://getbootstrap.com/docs/4.1/utilities/visibility/
 *
 * Options depending on use: .sr-only, .visible, .invisible
 */
.site-container .row {
  margin-left: 0;
  margin-right: 0;
}
.site-container .banner-cover {
  text-align: left;
  background-color: #1a202c;
  margin: -55px -35px 50px -30px;
  width: 100vw;
  display: block;
}
.site-container .banner-cover .wp-block-column {
  border-top: none;
}
.site-container .banner-cover .banner-icon {
  display: block;
  height: 130px;
  width: 130px;
}
.site-container .banner-cover .banner-content {
  color: #fff;
  padding: 50px 35px 30px 35px;
  /* Display as an h1 */
}
.site-container .banner-cover .banner-content h1, .site-container .banner-cover .banner-content h2 {
  font-size: 1.8rem;
  margin: 0 0 10px 0;
  color: #fff;
  font-weight: 600;
}
.site-container .banner-cover .banner-content a {
  color: #fff;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}
.site-container .banner-cover .banner-content a:hover, .site-container .banner-cover .banner-content afocus, .site-container .banner-cover .banner-content a:active {
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  border-bottom: none;
}
.site-container .banner-cover .banner-content .blue-button {
  width: 400px;
  display: block;
  margin: 40px 0 20px 0;
}
.site-container .banner-cover .banner-content .blue-button a {
  font-size: 1rem;
  border: 0.5px solid #fff;
  border-radius: 4px;
  padding: 7px 15px;
  text-decoration: none;
  text-align: center;
  background-color: #005CB3;
}
.site-container .banner-cover .banner-content .blue-button a:hover, .site-container .banner-cover .banner-content .blue-button a:focus, .site-container .banner-cover .banner-content .blue-button a:focus-within, .site-container .banner-cover .banner-content .blue-button a:active {
  background-color: #fff;
  color: #005CB3;
  text-decoration: underline;
}
.site-container .content .entry-header .entry-title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.site-container .breadcrumb + #column-row-0 .col-12 h2:first-child {
  margin-top: 0;
}
.site-container .entry-header + #column-row-0 .col-12 h2:first-child {
  margin-top: 2.157rem;
}
.site-container .modal .modal-body {
  padding: 2rem;
  text-align: center;
}
.site-container .modal button.close {
  width: 55px;
  height: 55px;
  margin: 10px 10px 0 auto;
  opacity: 1;
  text-align: center;
  padding: 0;
}
.site-container .cards .card {
  border-left: 1px solid #a1a5a8;
  border-right: 1px solid #a1a5a8;
  border-bottom: 1px solid #a1a5a8;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.site-container .cards h2, .site-container .cards h3 {
  font-size: 1.3rem;
}
.site-container .cards li {
  list-style-type: none;
}

/* Adjustment for h1 going to one line */
@media only screen and (min-width: 534px) {
  .tagline {
    margin-top: 40px;
  }
}
/* Large mobile */
@media only screen and (min-width: 760px) {
  .site-container .banner-cover .blue-button {
    margin: 80px 0 0 21px;
  }
  .col-md-6.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 1rem);
            flex: 0 0 calc(50% - 1rem);
  }
  .col-md-4.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.33333% - 1.33333rem);
            flex: 0 0 calc(33.33333% - 1.33333rem);
  }
  .col-md-6.card:nth-child(2n) {
    margin-left: 2rem;
  }
}
/* Desktop */
@media only screen and (min-width: 992px) {
  .site-container .banner-cover {
    /* the banner cover height and content will likely require in-page css to customize for each landing page */
    background-image: var(--banner_bg_img_url);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
    min-height: 245px;
    margin: -105px -35px 50px -35px;
    width: 100vw;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-container .banner-cover .banner-content {
    width: 85%;
    padding-right: 0;
  }
  .site-container .banner-cover .banner-icon {
    margin-top: 40px;
  }
  .site-container .banner-cover .elevator-pitch {
    display: block;
    max-width: 575px;
    margin: 20px 0 0 0;
    font-size: 1.1rem;
  }
  .site-container .modal {
    top: 17.5rem;
  }
  .site-container .col-lg-4.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.33333% - 1.33333rem);
            flex: 0 0 calc(33.33333% - 1.33333rem);
  }
  .flex-flow-reverse .banner-icon {
    margin-right: 5px;
  }
  .cards.row {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .col-lg-3.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 1rem);
            flex: 0 0 calc(25% - 1rem);
  }
  .col-lg-3.card:not(:first-child) {
    margin-left: auto;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1160px) {
  .site-container .banner-cover {
    width: calc(100vw - 10px);
    margin-top: -55px;
  }
}
@media (min-width: 1200px) {
  .col-lg-3.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25% - 1.5rem);
            flex: 0 0 calc(25% - 1.5rem);
  }
  .col-lg-3.card:not(:first-child) {
    margin-left: 2rem;
  }
}/*# sourceMappingURL=page-builder.css.map */